* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

body {
    background-image: url(/images/backcover.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position: 100% 90%;
}

/* navbar desighn  */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4.5rem;
}

nav img {
    height: 99px;
    width: 93px;
}

.nav-items {
    display: flex;
    padding: 20px;
}

.nav-item {
    padding: 1.2rem;
    font-size: 1.2rem;
    transition: all .2s ease;
}

.nav-item:hover {
    cursor: pointer;
    color: #6d6afe;
}

.signin-btn {
    padding: 5px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #6d6afe, #ff8adc);
    cursor: pointer;
    border: 0px solid;
    color: white;
}

/* intro section  */
.intro-section {
    display: flex;
    flex-direction: row;
}


/* intro left section  */

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left-section h1 {
    font-size: 3rem;
    color: #3e4794;
    margin-bottom: 3rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.left-section h4 {
    color: #758283;
    font-size: .7rem;
    margin-bottom: 3rem;
    width: 50%;
    line-height: 1.8;
}



.learn-more-btn {
    border-radius: 2rem;
    font-size: 1rem;
    background: linear-gradient(to right, #965cf2, #ff8adc);
    border: none;
    color: #fff;
    padding: 1rem;
    width: 12rem;
}



/* image section  */
.imgs-div {
    display: flex;
    flex-direction: row;
}

.intro-img {
    margin-right: 368px;
    height: 80vh;
    width: 468px;
}

.vector-dot {
    position: relative;
    bottom: -32rem;
    right: 2rem;
    height: 20px;
    width: -5px;

}

.vector-img {
    position: absolute;
    bottom: 5rem;
    left: 49rem;
    height: 5rem;
    width: 5rem;
}

@media screen and (max-width:1100px) {
    body {
        background-image: none;
        background-repeat: no-repeat;
        background-position: right;
        background-position: 100% 90%;
    }
}

@media screen and (max-width:950px) {
    nav {
        overflow-x: auto;
    }

    .intro-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .vector-img {
        display: none;

    }

    .vector-dot {
        display: none;
    }

    .intro-section {
        margin: 1rem;
        flex-direction: column;
        text-align: center;
        gap: 0;
    }

    .left-section h1 {
        margin-top: 3rem;
    }

    .left-section h4 {
        font-size: .8rem;
        margin-bottom: 3rem;
        width: 100%;
    }

    .intro-img {
        margin-top: 40px;
        margin-right: -10px;
        margin-left: 20px;
        height: 40vh;
        width: 400px;
    }

    .imgs-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


}